*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-image: url(../img/gid.gif);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Dancing Script", cursive;
}   

h1{
    margin: 50px;
    font-size: 90px;
    color: #ffffff;
}
.container{
    display: flex;
    max-width: 1080px;
    margin: auto; 
}
.card{
    align-items: center;
    display:inline-block; 
    justify-content: space-evenly;
    border-radius: 50px;
    margin: 20px;
    border-radius: 50px;
    background-color: #ac3ea2;
    box-shadow: 0px 10px 15px #0000005e;
    width: 300px;
    height: auto;
    max-width: 380px;
    min-width: none;
    transition: all 400ms ease-out;
}

.card img {
    width: 100%;
    height: 100%;
}

.card:hover{
    transform: scale(1.05);
    background-color: #ff00b3;
    box-shadow: 5px 10px 15px #ffffff;
}
.contenido-card{
    text-align: center;
    margin: 15px;
    font-size: 35px;
    margin: 0 auto;
}
.lista{
    font-family: "Satisfy", cursive;
    list-style: none;
    text-align:end;
    margin: 15px;
    padding-bottom: 9px;
    font-size: 29px;
    color: #ffffff;
}
